 



@font-face {
  font-family: 'TT Lakes';
  src: url('assets/fonts/TTLakes-Regular.eot');
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
      url('assets/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/TTLakes-Regular.woff') format('woff'),
      url('assets/fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*{ 
	margin: 0;
	padding: 0;
  font-family: 'TT Lakes';
  font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;}

body{
min-width: 320px;
overflow-x: hidden;

}






.header__container {
	display: flex;
	justify-content: center;
	justify-content: space-between;
	margin: 0 auto;
	min-height: 88px;
	align-items: center;
	width: 96%;
	margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 1120px) {
		.header__container {
			dispaly:  none;
		}	
	}

@media (min-width: 767px) {
		.header__container {
			padding: 0 24px ;
		}	
	}
@media(min-width: 1120px) {
	.header {display: none;}
}

.header__column {
	display: flex;
	justify-content:space-around ;
	
	
}

.header__burger {
	align-self: center;
	height: 40px;
	width: 40px;
	margin-right: 17px;
}
@media (min-width: 767px) {
		.header__burger {
			margin-right: 40px;
		}	
	}

.header__burger::after {
  content: "";
  position: relative;
  width: 2px;
  height: 32px;
  top: -41px;
  right: -57px;
  background-color:  #EAEAEA;
  display: none;
}
@media(min-width:  767px) {
	.header__burger::after{
		display: block;
	}
}

.button img {
	height: 40px;
	width: 40px;	
	border-radius: [object Object]px;

;
}


.header__logo img {
	height: 100%;
	width: 100px;
	border-radius: [object Object]px;
}


.header-menu {
	display: flex;
	}
.header-menu__hidden {
	min-width: 100px;
	display: none;
	justify-content: center;
	list-style-type:  none;
	margin-right: 36px;
}

@media(min-width:  767px) {
	.header-menu__hidden{
		display: flex;
	}
}





.header-menu__list {
	
	display: flex;
	justify-content: center;
	list-style-type:  none;
	

}

.header-menu__item {
	width:  40px;
	height: 40px;
	list-style-type:  none;
	margin-right: 16px;
}
.header-menu__item:last-of-type {
	margin-right: 0;

}

.header-menu__list::before {
  content: "";
  position: relative;
  width: 2px;
  height: 32px;
  top: 6px;
  right: 17px;
  background-color:  #EAEAEA;
  display: none;
  z-index: 1;

}
@media(min-width:  767px) {
	.header-menu__list::before{
		display: block;
	}
}


.hidden-header {
	display: none;
	justify-content: space-between;
	font-family: TT Lakes;
	background: #F8F8F8;
	padding: 24px 16px;
	margin: 0 auto;
	}
.hidden-header__title {
	margin
	font-family: TT Lakes;
	ont-size: 28px;
	text-align: left;
	font-weight: 700;
	background: #F8F8F8;
}
.hidden-header__title::before {
	content: "";
	height: 40px;
	width: 3px;
	position: absolute;
	left: 0px;
	top: 41px;
	border-radius: 2px;
	background: #41F6D7;
	z-index: 2;
}

.hidden-header__menu {
	display: flex;
	justify-content: center;
	align-items: center;

}
.hidden-header__button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color:  black;
	font-family: 'TT Lakes';
	font-size: 16px;
	line-height: 24px;
	text-align: right;
}

.hidden-header__button img {
	margin-left: 8px;
}

.hidden-header__list {
	list-style-type:  none;
	display: flex;
}

.hidden-header__item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 42px;
}
@media ( min-width:  1120px) {
	.header { 
		display: none;
	 }
	 .hidden-header {
		display: flex;
	}

}


.main__container {
	width: 100%;
 	min-height: 1px;
	background: #F8F8F8;
	padding: 24px 16px;
	margin: 0 auto;
}
@media(min-width:  767px) {
	.main__container{
		padding: 24px;
	}
}
@media(min-width:  1120px) {
	.main__container{
		padding: 36px;
	}
}
@media(min-width:  1120px) {
	.hidden-header{
		padding: 36px 36px 0 36px;
	}
}

.main__title {
	display: inline;
	font-family: TT Lakes;
	font-size: 28px;
	text-align: left;
	font-weight: 700;
}
@media(min-width: 1120px) {
	.main__title { 
		display: none;
	}
}

.main__title::before {
	content: "";
	height: 40px;
	width: 3px;
	position: absolute;
	left: 0px;
	top: 112px;
	border-radius: 2px;
	background: #41F6D7;
	z-index: 2;
}


.main-menu {
	display: none;
}
@media(min-width: 1120px) {
	.main-menu { 
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-content: flex-start;
		align-items: baseline;
	}
}

.slide-menu {
	display:  flex;
	list-style-type:  none;
	overflow-x: auto;
	margin-top: 24px;
}

.slide-menu::-webkit-scrollbar {
  display: none;
}

.slide-menu__item {
	text-decoration: none;
	font-family: 'TT Lakes';
	font-size: 16px;
	color: #7E7E82;
	white-space: nowrap;
	max-height: 40px;
	padding: 8px 10px 8px 16px;
	margin-right: 16px;
	border: 2px solid transparent;
}

.slide-menu__item:hover {
	white-space: nowrap;
	max-height: 40px;
	padding: 8px 10px 8px 16px;
	margin-right: 16px;
	box-sizing: border-box;
	font-family: TT Lakes;
	font-size: 16px;
	text-align: center;
	background: #FFFFFF;
	border: 2px solid #B8FFEC;
	border-radius: 6px;
	
}

.slide-menu li{
	white-space: nowrap;
	max-height: 40px;
	padding: 8px 10px 8px 0px;
	margin-right: 16px;
	box-sizing: border-box;
	font-family: TT Lakes;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	font-weight: 500;
	}


	


.about {
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}




.about__info {
	margin-top: 32px;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.2px;
	color: #1B1C21;
}
@media(min-width:  767px) {
	.about__info {
		width: 45vw;
		margin-top: 40px;
	}
}

.about__more {
	margin-top: 0px;
	margin-bottom: 24px;
	font-size: 16px;
	color: #1B1C21;
	border: none;
	background: #F8F8F8;
	text-decoration: none;
}

.about__more img {
	margin-right: 16px;
}

.button {
	border: none;
	background-color: transparent;
}

.about__image {
	width: 100vw;
	border-radius: 0px;
}
@media (min-width: 767px) {
	.about__image  { 
		width: 45vw ;
		margin-top: 40px;
	}
}

.about__image img {
	width: 100%;
}


		
		
